
.header {
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

#homeHeaderImage {
  background-image: url('images/montblanc.jpg');
}

.footer {
  background-image: url('images/header_background.png');
  height: 15px;
  text-align: center;
}

.menubar {
  background-color: #a6d7ff;
  position: sticky;
  height: 51px;
  top: 0;
  text-align: center;
}

.menubar a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 20px;
  font-size: 20px;
  text-decoration: none;
  font-family: sans-serif;
}

.menubar a.DAButton {
  float: left;
  font-size: 30px;
  padding: 8px 14px;
}

.menubar a:hover {
  background-color: #91c2f4;
  color: white;
}

.menubar a.activelink {
  color: white;
  text-decoration: underline;
}

div.header img {
  height: 300px;
  float: left;
}

.header,.footer,.menubar p {
  color: white;
  font-family: Helvetica, sans-serif, Arial;
}

p.title {
  text-align: center;
  margin: auto;
  font-size: 150px;
  padding: 100px;
}